
/* INPUT */

.input__label {
  width: 100%;
  box-sizing: border-box;
}

input {
  outline: none;
  border:none;
}

.input {
  width: 100%;
  box-sizing: border-box;

  font-size: 16px;
  font-family: inherit;
  
  padding-left: 0.7em;
  padding-right: 0.7em;
  padding-top: 0.45em;
  padding-bottom: 0.5em;

  border-radius: 8px;
}